@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
video{
    position: absolute;
     left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-10;
  
  }
  .dharaar{
    background:rgba(35, 45, 57, 0.8);
    width: 100%;
    height: 100vh;
    z-index:-10;
    
    }
    .over-lay{
        background: #fff;
        z-index: 10;
        width: 100%;
        height:75px;
        position: fixed;
        box-shadow: 0px 0px 10px rgb(9, 9, 9);
        }
        .container{
            max-width:1100px;
            margin-inline: auto;
           
          }
          .nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
              position: fixed;
            width: 100%;
            margin-top: 20px;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
          
            
          }
          .hanbugar{
            display: none;
          }
          span{
            color: #ed563b;
          }
          .links-menu{
            display: flex;
            gap: 1rem;
          }
          .links-menu li{
            list-style: none;
          }
          .links-menu li a{
            text-decoration: none;
          text-transform: uppercase;
          color: #000;
          padding: 20px;
          }
          .links-menu li a:hover{
          color: #ed563b;
          }
          button{
            background-color: #ed563b;
            color: #fff;
            font-size: 1rem;
            padding: 10px 20px;
            border: none;
          
          }
          .nav h1{
            font-size: 2rem;
          text-transform: uppercase;
          color: #000;
          letter-spacing: 1px;
          }
          .hero{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           height: 100vh;
          
          }
          .hero h4{ 
            font-size: 1.125rem;
            text-transform: uppercase;
            color: #fff;
          
          }
          .hero h1{
            margin-top:25px;
            margin-bottom:10px;
            font-size: 5.25rem;
            font-weight: 800;
            color: #fff;
          }
          .hero button{
            background-color: #ed563b;
            color: #fff;
            border: none;
            padding:15px;
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
          }
          .mobile-menu {
            display: none;
          }
          .section-hero{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        
          margin-top: 80.59px;
          margin-bottom: 20px;
        }
        
        .section-hero h1{
            font-size: 1.75rem;
           font-weight: 800;
           text-transform: uppercase;
        }
        .section-hero img{
            margin: 20px auto;
        }
        .section-hero p{
            font-size: 0.875rem;
            color: #7a7a7a;
            text-align: center;
            line-height: 25px;
            width: 50%;
        }
        

.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 margin: 20px auto;
 gap: 3rem;
}
.sub-content{
    display: flex;
    
}
.sub-content img{
    margin-right: 30px;
}
.sub-content h1{
    color: #232d39;
    font-size: 1.1875rem;
    margin-bottom: 7px;
}
.sub-content p{
    color: #7a7a7a;
    font-size: 0.875rem;
    line-height: 25px;
}
.sub-content .paar{
color: #ed563b;
font-size: 0.8125rem;
font-weight:500;
text-transform: uppercase;
margin-top: 7px;
}
.content .sub-content p a{
    text-decoration: none;
}

.gym-content{
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg")no-repeat;
    width: 100%;
    height:400px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gym-content h1{
    color: #fff;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 800;
    
}
.gym-content p{
    color:#fff;
     font-size: 1rem;  
    margin: 15px 0px 25px 0px;
   text-align: center;
   width: 70%;

}
.gym-content button{
    background-color: #ed563b;
    color: #fff;
    border: none;
    padding:15px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}
.trainin{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
  
}
.sub-training h1{
    font-size: 1.1875rem;
    display: flex;
}
.sub-training {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 20%;
  display: flex;

  align-items: center;
  padding: 10px;
  gap: 1rem;
  text-align: center;
 margin-bottom:2rem;
 text-align: center;
 border-radius: 10px;
 font-size: 1.1875rem;
 font-weight: 600;
}
.view-trainig{

    margin-bottom: 10rem;
    background-color: #ed563b;
}
.sub-training img{
    margin-left: 35px;
}
.sub-training li{
    list-style: none;
}
.view-trainig li{
    color: #fff;
}
.view-trainig h1{
    font-size: 1.1875rem;
}
.view {
    background-color: #ed563b;
     display: flex;
    align-items: center;
    justify-content: center;
   height: 13%;
}
.view a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
.content-training h4{
    font-size:1.4375rem;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.content-training p{
font-size: 0.875rem;
color: #7a7a7a;
}
.content-training button{
 margin-top: 20px;
 background-color: #ed563b;
 padding:15px 15px;
}
.content-training button a{
    text-decoration: none;
    color: #fff;

    font-size: 1rem;
}

.main-section{
    background:url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg")center/cover , no-repeat;
    height: 100%;
     margin-top: 17%;
}
.articles{
      text-align: center;
      padding: 10%;
}
.articles h2{
      text-align: center;
     color: #fff;
     font-weight: 800;
     font-size: 1.75rem;
     }
.articles img{
     margin-top: 30px;
     }
.articles .weaks{
     margin-top: 30px;
     font-size: 0.875rem;
     color: #fff;
     text-align: center;
     width: 80%;
     margin-bottom: 10%;
     }
     .weaks{
   
     }
table{
   margin-top: -30px;
   
}
table tr{
    height: 100px;

}
tr td{
    width: 10%;
    color: #fff;
     border-width:1px;
     border-color: #fff;
     font-size: 0.8rem;
}
.extra{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.extra p{
 font-size: 0.875rem;
 color: #7a7a7a;
 width: 70%;
 text-align: center;
}
.extra h2{
 margin-bottom: 30px;
 font-weight: 800;
 font-size: 1.75rem;
 letter-spacing: 2px;
 text-transform: uppercase;
}
.extra img{
 margin-bottom: 30px;
}
.extra p{
 margin-bottom: 30px;
}
.instagram{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 30px;
}
.instagram-info{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   padding:30px ;
}
.instagram-info p{
  color: #7a7a7a;
  font-size:  0.875rem;
}
.instagram-info p,img,h4{
  margin: 10px 0;
}
.social-icons{
    display: flex;

}
.social-icons li{
    list-style: none;
    margin-left: 25px;
}
.social-icons li a{
  text-decoration: none;
  color: #000;
  
}
.social-icons li a:hover{
color: #ed563b;
  
}




.data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-top:10%;
    height: 100vh;
    position: relative;
}
.form{
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg")center/cover , no-repeat;
   width: 100%;
 position: relative;
}
.form-1{
 background-color: #ffff;
 width: 80%;
 height: 85%;
 margin: 10%;
}

form input{
margin-top: 5%;
margin-left: 10%;
padding: 10px;


}
form input:focus{
    outline: none;
}
.object{
    width: 80%;
}
#text-area{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    font-size:0.8125rem;
    color: #7a7a7a;
    outline: none;
    padding: 10px;
}
form button{
    margin-left: 10%;
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 15px;
}

iframe{
    width: 100%;
    height: 100vh;
}
footer{
  
    /* margin-top: 10%; */
    padding: 20px;
    text-align: center;
    /* margin-bottom: 10%; */
}

           /* smart phones */
          @media (max-width:640px){
            .hanbugar{
                display: block;
                position: absolute;
                top: 0.8%;
                right: .05%;
             
                z-index:100;
                color: #0b0b0b;
             position: fixed;
                border-radius: 50%;
                width: 10%;
                height: 10%;
             display: flex;
             align-items: center;
             justify-content: center;
             padding: 10px;
             font-size: 2rem;
            }
            .mobile-menu{
                margin-top: 10%;
                           
                display: flex;
                justify-content: center;
             position: static;
                background-color: #fff;
                inset: 0 0 0 0;
                color: #000;
              height: 50vh;
                transform: translateX(0%);
                transition: transform ease-out 3s;
                flex-direction: column;
            
            }
            .menu{
                display: none;
            }
           
            .links-menu{
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 50vh;
        
            }
            .links-menu button{
                width: 100%;
              
            }
            .links-menu li{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: -20px 0;
         
            }
            .training{
                font-size: 2rem;
                text-transform: uppercase;
                color: #000;
                letter-spacing: 1px;
                position: static;
            }
             .links-menu a{
                border-bottom: 0.5px solid #000;
          
                width: 100%;
                text-align: center;
                margin-top: 6px;
            }
            .mobile-menu[data-visible="false"]{
                transform: translateX(100%);
            }
            .hanbugar i[data-visible="true"]{
                display: block;
            }
            .hanbugar i[data-visible="false"]{
                display:none;
            }
            .hero h1{
                margin-top:25px;
                margin-bottom:10px;
                font-size: 4.25rem;
                font-weight: 800;
                color: #fff;
                text-align: center;
                 padding: 0 4px;
              }
              .hero h4{ 
                font-size: 1.125rem;
                margin-top: 10%;
                text-transform: uppercase;
                color: #fff;
              
              }
              .content{
                display: grid;
                grid-template-columns: 1fr;
             margin: 20px auto;
             gap: 3rem;
             padding: 0 13px;
            }
            .gym-content h1{
                color: #fff;
                font-size: 2.25rem;
                text-transform: uppercase;
                font-weight: 800;
                 text-align: center;
            }
            .trainin{
                display: grid;
                grid-template-columns: 1fr;
                gap: 3rem;
                margin: 5%;
            }
         
         .content-training{
            margin-top: 20%;
         }
         .content-training img{
            width: 100%;
          
         }
         table{
            margin-top:10px;
            
         }
         .articles .weaks{
            margin-top: 30px;
            font-size: 0.875rem;
            color: #fff;
            text-align: center;
            width: 80%;
            margin-bottom: 10%;
            line-height:25px;
            }
            .instagram{
                display: grid;
                grid-template-columns: 1fr;
                gap: 2rem;
                margin-top: 30px;
            }
            .instagram-info{
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
               padding:30px ;
               display: flex;
               flex-direction: column;
            }
            .data{
                display: grid;
                grid-template-columns:1fr;
                width: 100%;
                margin-top:10%;
                height: 100%;
                position: relative;
            }
            form button{
                margin-left: 10%;
                margin-top: 1%;
                text-transform: uppercase;
                font-size: 0.8125rem;
                font-weight: 400;
                padding: 15px;
    
            footer{
  
                /* margin-top: 10%; */
                text-align: center;
                /* margin-bottom: 10%; */
                font-size: 0.8125rem;
            }
            .nav h1{
                margin-right: 10%;
            }
            .sub-content img{
                height: 65%;
            }
          }

        }
          /* tablte */
      
            @media only screen and (min-width:641px) and (max-width:1024px){

                       .hanbugar{
                display: block;
                position: absolute;
                top: 3%;
                right: 3%;
             
                z-index:100;
                color: #0b0b0b;
             position: fixed;
                border-radius: 50%;
                width: 10%;
                height: 10%;
             display: flex;
             align-items: center;
             justify-content: center;
             padding: 10px;
             font-size: 2rem;
            }
            .mobile-menu{
                margin-top: 8%;
                           
                display: flex;
                justify-content: center;
             position: static;
                background-color: #fff;
                inset: 0 0 0 0;
                color: #000;
              height: 50vh;
                transform: translateX(0%);
                transition: transform ease-out 3s;
                flex-direction: column;
            
            }
            .menu{
                display: none;
            }
           
            .links-menu{
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 50vh;
             
            }
            .links-menu button{
                width: 100%;
              
            }
            .links-menu li{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: -20px 0;
            }
            .training{
                font-size: 2rem;
                text-transform: uppercase;
                color: #000;
                letter-spacing: 1px;
                position: static;
            }
             .links-menu a{
                border-bottom: 0.5px solid #000;
          
                width: 100%;
                text-align: center;
                margin-top: 6px;
            }
            .links-menu a:hover{
                color: #ed563b;
            }
            .mobile-menu[data-visible="false"]{
                transform: translateX(100%);
            }
            .hanbugar i[data-visible="true"]{
                display: block;
            }
            .hanbugar i[data-visible="false"]{
                display:none;
            }
            .hero h1{
                margin-top:25px;
                margin-bottom:10px;
                font-size: 5.25rem;
                font-weight: 800;
                color: #fff;
                text-align: center;
              }
              .content{
                display: grid;
                grid-template-columns: 1fr;
             margin: 20px auto;
             gap: 3rem;
             padding: 0 13px;
            }
            .trainin{
                display: grid;
                grid-template-columns: 1fr;
                gap: 3rem;
                margin: 5%;
            }
         
         .content-training{
            margin-top: 20%;
         }
         .content-training img{
            width: 100%;
          
         }
         .instagram{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            margin-top: 30px;
        }
        .instagram-info{
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
           padding:30px ;
           display: flex;
           flex-direction: column;
        }
        .data{
            display: grid;
            grid-template-columns:1fr;
            width: 100%;
            margin-top:10%;
            height: 100%;
            position: relative;
        }
          }